# TODO: set domain
# TODO: set hostname
# Ubuntu 16.04 Cloud-Init kickstart
d-i     debconf/frontend string noninteractive
d-i     debian-installer/splash boolean false

# B.4.1 Localization
d-i     debian-installer/locale           string en_US.utf8
d-i     debian-installer/language         string en
d-i     debian-installer/country          string US
d-i     keyboard-configuration/layoutcode string us
d-i     keyboard-configuration/xkb-keymap select us
d-i     console-setup/ask_detect          boolean false
d-i     localechooser/supported-locales multiselect en_US.utf8


# B.4.2 Network configuration - https://help.ubuntu.com/lts/installation-guide/armhf/apbs04.html
d-i netcfg/choose_interface select auto
d-i netcfg/dhcp_timeout string 60

# B.4.4 Mirror Settings -  https://help.ubuntu.com/lts/installation-guide/armhf/apbs04.html
d-i mirror/country string manual
d-i mirror/protocol string http
d-i mirror/http/hostname string archive.linux.duke.edu
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string http://proxy.oit.duke.edu:3128

d-i apt-setup/use_mirror boolean true
d-i apt-setup/restricted boolean true
d-i apt-setup/universe boolean true
d-i apt-setup/backports boolean true
d-i apt-setup/enable-source-repositories boolean false
d-i apt-setup/services-select multiselect security
d-i apt-setup/security_host string archive.linux.duke.edu
d-i apt-setup/security_path string /ubuntu
d-i debian-installer/allow_unauthenticated  string false

# B.4.5 Account setup -  https://help.ubuntu.com/lts/installation-guide/armhf/apbs04.html
d-i passwd/root-login       boolean false
d-i passwd/root-password-crypted password {{ template_root_password_crypt }}
d-i user-setup/encrypt-home boolean false
d-i user-setup/allow-password-weak  boolean false
d-i passwd/make-user        boolean true
d-i passwd/username string packer
d-i passwd/user-password-crypted password {{ template_password_crypt }}
d-i passwd/user-fullname string

# B.4.6 Clock and time zone setup - https://help.ubuntu.com/lts/installation-guide/armhf/apbs04.html
d-i time/zone string US/Eastern
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server  string 152.3.250.1

# B.4.7 Partitioning
# Taken from https://github.com/tylert/packer-build/blob/master/source/ubuntu/18.04_bionic/base-uefi.preseed

# needed to force UEFI install
d-i partman-partitioning/no_bootable_gpt_biosgrub boolean false
d-i partman-partitioning/no_bootable_gpt_efi boolean false
d-i partman-efi/non_efi_system boolean true

# Force GPT labels
d-i partman-basicfilesystems/choose_label string gpt
d-i partman-basicfilesystems/default_label string gpt
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/default_label string gpt
d-i partman/choose_label string gpt
d-i partman/default_label string gpt

# Crazy paritioning scheme that include xfs and efi
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string lvm
d-i partman-auto-lvm/new_vg_name string ubuntuos
d-i partman-auto-lvm/guided_size string max
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/expert_recipe string efi-xfs :: \
  538 538 1075 free \
    $iflabel{ gpt } $reusemethod { } \
    method{ efi } format{ } \
  . \
  1024 1024 1024 ext2 \
    $defaultignore { } \
    method{ format } format{ } \
    use_filesystem{ } filesystem{ ext2 } \
    mountpoint{ /boot } \
  . \
  100% 1024 200% linux-swap \
    $lvmok{ } lv_name{ swap } \
    $reusemethod { } \
    method{ swap } format{ } \
  . \
   5120 5120 8192 xfs \
    $lvmok{ } lv_name{ home } \
    $defaultignore { } \
    method{ format } format{ } use_filesystem{ } filesystem{ xfs } \
    mountpoint{ /home } \
  . \
  25600 25600 25600 xfs \
    $lvmok{ } lv_name{ root } \
    $defaultignore { } \
    method{ format } format{ } use_filesystem{ } filesystem{ xfs } \
    mountpoint{ / } \
  . \
   5120 5120 5120 xfs \
    $lvmok{ } lv_name{ srv } \
    $defaultignore { } \
    method{ format } format{ } use_filesystem{ } filesystem{ xfs } \
    mountpoint{ /srv } \
  . \
   1024 1024 1024 ext4 \
    $defaultignore { } \
    $lvmok{ } lv_name{ placeholder } \
  .

d-i partman-auto/choose_recipe select efi-xfs
d-i grub-installer/only_debian boolean true

# B.4.8 Base system installation - https://help.ubuntu.com/lts/installation-guide/armhf/apbs04.html
d-i base-installer/kernel/image     string linux-generic
tasksel tasksel/first multiselect standard, ubuntu-server
# B.4.10 Package selection  - https://help.ubuntu.com/lts/installation-guide/armhf/apbs04.html
d-i pkgsel/include string ntpdate curl vim open-vm-tools openssh-server

# B.4.9 Apt setup - https://help.ubuntu.com/lts/installation-guide/armhf/apbs04.html
d-i apt-setup/services-select       multiselect security


# This may not be needed, depending on the default language pack
d-i pkgsel/language-packs multiselect en
d-i pkgsel/upgrade select full-upgrade
d-i pkgsel/update-policy select unattended-upgrades
d-i pkgsel/updatedb boolean true

# B.4.11 Finishing up the installation - https://help.ubuntu.com/lts/installation-guide/armhf/apbs04.html
d-i finish-install/keep-consoles    boolean false
d-i finish-install/reboot_in_progress       note
d-i cdrom-detect/eject boolean true
# d-i debian-installer/exit/poweroff  boolean true

# B.5.1. Running custom commands during the installation - https://help.ubuntu.com/lts/installation-guide/armhf/apbs05.html

d-i preseed/late_command string in-target /bin/sh -c "sed -i -e 's/archive.ubuntu.com/archive.linux.duke.edu/' -e 's/security.ubuntu.com/archive.linux.duke.edu/' -e 's/^deb-src/# deb-src/' /etc/apt/sources.list"
